.nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-left: 3rem;
}

.nav-menu,
.btn-group {
  display: flex;
  gap: 0.5rem;
}

.nav-menu__item {
  position: relative;
}

.nav-menu__item___link,
.sub-menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: #696969;
}

.sub-menu__link {
  padding: 0.5rem;
  justify-content: flex-start;
}

.nav-menu__item___link:hover,
.ghost-btn:hover {
  color: #141414;
}

.ghost-btn {
  font-family: inherit;
  width: 100px;
  height: 45px;
  font-size: 16px;
  color: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.bordered-btn {
  font-family: inherit;
  width: 100px;
  height: 45px;
  font-size: 16px;
  color: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #696969;
  border-radius: 10px;
  background-color: transparent;
}

.bordered-btn:hover {
  color: #141414;
  border-color: #141414;
}

.sub-menu {
  background-color: #fafafa;
  min-width: 180px;
  position: absolute;
  right: 0.5rem;
  display: none;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: 0.2s;
  padding: 0.5rem 1rem;
  z-index: 100;
}

.nav-menu__item:hover .sub-menu,
.sub-menu:hover .sub-menu {
  display: flex;
  flex-direction: column;
}

.arrow {
  transition: 0.2s;
}

.nav-menu__item:hover .arrow {
  transform: rotate(180deg);
}
