.text-block {
  margin-top: 4rem;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.clients {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
